<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler type="Sitecore.SharedSource.SitecorePackageAssistant.TrackSavedItems, Sitecore.SharedSource.SitecorePackageAssistant" method="OnItemSaved">
        </handler>
      </event>

      <event name="item:created">
        <handler type="Sitecore.SharedSource.SitecorePackageAssistant.TrackSavedItems, Sitecore.SharedSource.SitecorePackageAssistant" method="OnItemCreated">
        </handler>
      </event>

    </events>
    <commands>
      <command name="item:untrackitem" type="Sitecore.SharedSource.SitecorePackageAssistant.UntrackItemCommand,Sitecore.SharedSource.SitecorePackageAssistant" />
      <command name="item:trackitem" type="Sitecore.SharedSource.SitecorePackageAssistant.TrackItemCommand,Sitecore.SharedSource.SitecorePackageAssistant" />
    </commands>

  </sitecore>
</configuration>