<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler type="Sitecore.SharedSource.SitecorePackageCreator.TrackSavedItems, Sitecore.SharedSource.SitecorePackageCreator" method="OnItemSaved">
        </handler>
      </event>

      <event name="item:created">
        <handler type="Sitecore.SharedSource.SitecorePackageCreator.TrackSavedItems, Sitecore.SharedSource.SitecorePackageCreator" method="OnItemCreated">
        </handler>
      </event>

    </events>
    <commands>
      <command name="item:untrackitem" type="Sitecore.SharedSource.SitecorePackageCreator.UntrackItemCommand,Sitecore.SharedSource.SitecorePackageCreator" />
      <command name="item:trackitem" type="Sitecore.SharedSource.SitecorePackageCreator.TrackItemCommand,Sitecore.SharedSource.SitecorePackageCreator" />
    </commands>

  </sitecore>
</configuration>